/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2f324c;
  --ifm-color-primary-dark: #2a2d44;
  --ifm-color-primary-darker: #282b41;
  --ifm-color-primary-darkest: #212335;
  --ifm-color-primary-light: #343754;
  --ifm-color-primary-lighter: #363a57;
  --ifm-color-primary-lightest: #3d4163;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #70c2bf;
  --ifm-color-primary-dark: #5bb9b5;
  --ifm-color-primary-darker: #50b4b1;
  --ifm-color-primary-darkest: #409693;
  --ifm-color-primary-light: #85cbc9;
  --ifm-color-primary-lighter: #90d0cd;
  --ifm-color-primary-lightest: #b0dddc;
}
